img{
  width: 80px;
  border: 3px solid gray;
  animation: allImages 5s;
  opacity: 0.4;

}

img:hover{ 
  animation: selectedImage 3s infinite;
  opacity:1.0;
}  
input{
  height: 70px;
  width: 300px;
  font-size: 40px;
  padding: 0px 20px;
  color: orange
}

span{
  padding: 0px 6px;
  font-size: 30px;

}
.bottom-line{
  position: absolute;
  bottom:0px;
  font-size: 25px;
  padding: 5px ;

}
.content{
  padding: 3px;
  text-align: center;
  border-radius: 20px;

}

@keyframes allImages {
  0% { opacity: 1.0; }
  100% { opacity: 0.4; }
}

@keyframes selectedImage {
  0% { background-color: yellow; }
  50% { background-color: orange; }
  100% { background-color: yellow; }
}